/* nav {
    /* background-color: rgb(226, 217, 204);  
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  nav > div {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */


nav {
    /* background-color: black; */
    width: 100%;
    display: flex;
    padding: 10px;

    text-align: center;
    align-items: center;
    font-size: 18px;
  margin: auto;
  overflow: hidden;
  /* padding-top: 30px; */
  padding-bottom: 15px;
}

.item {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}