.go-opening {
  position: absolute;
  width: 9%;
  height: 9%;
  top: 93%;
  left: 5%;
  background-image: url("../../public/images/nav_opening.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: blink 0.9s ease-in-out infinite alternate;
  -moz-animation: blink 0.9s ease-in-out infinite alternate;
  animation: blink 0.9s ease-in-out infinite alternate;
}
.go-opening:hover {
  animation: none;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.go-ending {
  position: absolute;
  width: 7%;
  height: 7%;
  top: 93%;
  left: 88%;
  background-image: url("../../public/images/ending.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: blink 0.9s ease-in-out infinite alternate;
  -moz-animation: blink 0.9s ease-in-out infinite alternate;
  animation: blink 0.9s ease-in-out infinite alternate;
}
.go-ending:hover {
  animation: none;
}
