.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/homebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.map-morning {
  position: absolute;
  width: 17%;
  height: 17%;
  top: 39%;
  left: 11%;
  background-image: url("../images/morning.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.map-afternonn {
  position: absolute;
  width: 20.5%;
  height: 20.5%;
  top: 69%;
  left: 24%;
  background-image: url("../images/afternonn.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.map-dinner {
  position: absolute;
  width: 14%;
  height: 14%;
  top: 69%;
  left: 72.5%;
  /* transform: translate(-50%, -50%); */
  background-image: url("../images/diner.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.map-night {
  position: absolute;
  width: 12%;
  height: 12%;
  top: 38.5%;
  left: 76.5%;
  /* transform: translate(-50%, -50%); */
  background-image: url("../images/night.png");
  background-size: contain;
  transform: translate(-50%, -50%);
  background-image: url("../images/night.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.opening {
  position: absolute;
  width: 9%;
  height: 9%;
  top: 93.5%;
  left: 6%;
  /* transform: translate(-50%, -50%); */
  background-image: url("../images/opening.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ending {
  position: absolute;
  width: 7%;
  height: 7%;
  top: 93.5%;
  left: 87%;
  background-image: url("../images/ending.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.map:hover {
  transform: scale(1.5);
}

.map {
  transition: 1s ease-in-out;
}
