.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../public/images/homebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.map-morning {
  position: absolute;
  width: 15%;
  top: 39%;
  left: 17%;
  z-index: 3;
  cursor: pointer;
}

.map-afternonn {
  position: absolute;
  width: 19%;
  top: 69%;
  left: 28%;
  z-index: 3;
  cursor: pointer;
}

.map-dinner {
  position: absolute;
  width: 13%;
  top: 62%;
  left: 63%;
  z-index: 3;
  cursor: pointer;
}

.map-night {
  position: absolute;
  width: 11%;
  top: 32%;
  left: 67%;
  z-index: 3;
  cursor: pointer;
}

.map:hover {
  transform: scale(1.4);
}

.map {
  transition: all 0.2s linear;
}
