.mypage-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../public/images/profile_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.mypage-box {
  /* display: flex; */
  position: absolute;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 80%;
  width: 750px;
  height: 600px;
  /* 위 오른쪽 아래 왼쪽 */
  margin: 260px 100px;
}

.profile-img {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 9%;
  top: 40%;
  border-radius: 100px;
  transform: translateY(-100px);
  /* box-shadow: 0 3px 6px 0 rgba(112, 112, 112, 0.16); */
  object-fit: cover;
}

.MypageTextContainer {
  position: absolute;
  left: 20%;
  top: 36%;
}
.MypageTextContainer .profile-name {
  position: absolute;
  color: rgb(71, 71, 71);
  font-size: 2.6em;
  font-weight: bold;
  z-index: 1;
  top: -30px;
  left: -20px;
}
.MypageTextContainer .profile-email {
  position: absolute;
  font-size: 1.5em;
  color: rgb(88, 88, 88);
  z-index: 1;
  top: 30px;
  left: -20px;
}

.footprint-box{
    display: inline-block;
    position: absolute;
    font-size: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    opacity: 80%;
    width: 750px;
    height: 600px;
    /* 위 오른쪽 아래 왼쪽 */
    margin: 260px 1000px;
}

