.logo {
  position: absolute;
  width: 14%;
  height: 14%;
  top: 11%;
  left: 9%;
  transform: translate(-50%, -50%);
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.footprint {
  position: absolute;
  width: 8%;
  height: 8%;
  top: 7%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-image: url("../images/footprint.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* 로그인 */
.sign-in {
  position: absolute;
  width: 4.5%;
  height: 4.5%;
  top: 8%;
  left: 85.5%;
  transform: translate(-50%, -50%);
  background-image: url("../images/login.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* 로그아웃 */
.sign-out {
  position: absolute;
  width: 4.5%;
  height: 4.5%;
  top: 8%;
  left: 85.5%;
  transform: translate(-50%, -50%);
  background-image: url("../images/nav_logout.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* rank */
.rank {
  position: absolute;
  width: 6%;
  height: 6%;
  top: 8.7%;
  left: 93%;
  transform: translate(-50%, -50%);
  background-image: url("../images/nav_rank.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* .sign-up{
  position: absolute;
  width: 6%;
  height: 6%;
  top: 8.7%;
  left: 93%;
  transform: translate(-50%, -50%);
  background-image: url('../images/signup.png');
  background-size: contain; 
  background-repeat: no-repeat;
} */
