@font-face {
  font-family: "digital-7";
  src: url("../fonts/digital-7.ttf");
}

.bg {
  position: relative;
  /* 이미지 비율대로 커지거나 작아지게 하는 속성 */
  width: 100%;
  height: auto;
}
.textbox {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  z-index: 3;
}

.line {
  font-family: "digital-7";
}

.line-left {
  position: absolute;
  color: white;
  font-size: 30px;
  text-align: left;
  top: 78%;
  left: 18%;
  z-index: 5;
}

.line-right {
  position: absolute;
  color: white;
  font-size: 30px;
  text-align: right;
  top: 78%;
  right: 12%;
  z-index: 5;
}

.character {
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0%;
  z-index: 1;
}

.next {
  position: absolute;
  height: 4.5%;
  top: 88%;
  left: 75%;
  z-index: 5;
  cursor: pointer;
  animation: ani 1s infinite alternate;
}
.next:hover {
  animation: none;
}

@keyframes ani {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}

.namebox {
  position: absolute;
  height: 6%;
  top: 65%;
  left: 18%;
  z-index: 5;
}

.name {
  position: absolute;
  height: 4%;
  top: 66%;
  left: 23%;
  z-index: 6;
}

.skip {
  position: absolute;
  height: 2%;
  top: 10%;
  left: 85%;
  z-index: 5;
  cursor: pointer;
  -webkit-animation: blink 0.5s ease-in-out infinite alternate;
  -moz-animation: blink 0.5s ease-in-out infinite alternate;
  animation: blink 0.5s ease-in-out infinite alternate;
}
.skip:hover {
  animation: none;
}

.ending-logo{
  position: absolute;
  height: 10%;
  top: 35%;
  left: 31%;
  z-index: 3;
}

.ending-text{
  position: absolute;
  height: 15%;
  top: 50%;
  left: 33%;
  z-index: 3;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.credit-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-family: "digital-7";
  font-size: 30px;
  color: #fff;
  text-align: center;
  animation: credit-animation 10s linear infinite; 
  animation-iteration-count: 1; /* 애니메이션이 한번만 실행*/
  animation-fill-mode: forwards;  /* 애니메이션 종료 위치 유지 */
}

@keyframes credit-animation {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 45%;
  }
}

/* .credit-text.animation-ended {
  animation-play-state: paused;  애니메이션 종료 후에 "paused"로 설정하여 애니메이션 멈춤 
   animation-iteration-count: 1; 애니메이션이 한번만 실행
  animation-fill-mode: forwards;  애니메이션 종료 위치 유지 
} */

/* .credit-text animation-ended {
  bottom: 45%;  애니메이션 종료 위치 유지 
  animation: none;  애니메이션 제거 
} */
